@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(208 215 208)
}
*{
    padding:0;
    margin: 0;
    font-size: large;
}
*{
    @apply text-main-color
}


/* tailwind custom utilties */

.headr_link{
    @apply mr-3 hover:underline 
}
.Link_media{
    @apply hidden md:inline
}
.search_field{
    @apply  bg-transparent focus:outline-none focus:placeholder:opacity-0 focus:placeholder:duration-500 w-24 md:w-64
}


.text_media{
    @apply text-sm md:text-xl
}

.my_container{
    @apply w-[80%] m-auto
}

.input_field{
    @apply border  p-3 rounded-md shadow-md focus:outline-[#0079ff] focus:placeholder:opacity-0 focus:placeholder:duration-500
}

.main_btn{
    @apply bg-[#333] p-3 rounded-md shadow-md text-white uppercase hover:opacity-[0.7] duration-500
}


/*  loader component */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin:  auto;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #0079ff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  